{% extends 'base.html' %}

{% block app_content %}
<div class="card">
  <div class="card-header">
    Excel Files
    <a href="{{ url_for('excel.upload_excel_file') }}" class="btn btn-pill btn-sm btn-primary float-right">
      Upload New File
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Valid NRC File</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for xf in excel_files %}
          <tr>
            <td>{{ xf.name }}</td>
            <td>
              {% if xf.valid %}
                Yes
              {% else %}
                No
              {% endif %}
              ,
              {% if xf.deployed %}
                Deployed
              {% else %}
                Not Deployed
              {% endif %}
            </td>
            <td>
              <!--
              <div class="btn-group" role="group" aria-label="...">
                <a class="btn button-pill btn-sm btn-warning" href="{{ url_for('excel.download_excel_file', file_id=xf.id) }}">
                  Download
                </a>
              </div>
            -->
              <div class="btn-group" role="group" aria-label="...">
                <a class="btn button-pill btn-sm btn-warning" href="{{ url_for('excel.delete_excel_file', file_id=xf.id) }}">
                  Delete
                </a>
              </div>

              <div class="btn-group" role="group" aria-label="...">
                <a class="btn button-pill btn-sm btn-warning
                  {% if not xf.valid %}
                    disabled
                  {% endif %} " href="{{ url_for('excel.deploy_excel_file', file_id=xf.id) }}">
                  Deploy
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

