{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
  <div class="col-md-6">
    <h1> Updload an Excel File </h1>
    <form action="" method="POST" class="form" roles="form" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.name, class='form-control', placeholder='Enter the human-readable name of your file') }}
      {{ wtf.form_field(form.file_name) }}
    <button type="submit" class="btn btn-sm btn-primary">
      Upload
    </button>
    <button type="reset" class="btn btn-sm btn-danger">
      Cancel
    </button>
  </form>
{% endblock %}
