{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1> Reset your current password </h1>
<div class="row">
  <div class="col-md-4">
    <form action="" method="POST" novalidate formnovalidate class="form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      <dl>
        {{ wtf.form_field(form.email, class='form-control', placeholder='Please enter your email.') }}
      </dl>
      <p>
     <button type="submit" class="btn btn-block btn-success">Reset Password</button>
      </p>
    </form>
  </div>
</div>
{% endblock %}

