{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="{{ config.GOOGLE_OAUTH_CLIENT_ID }}">
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col-md-4 py-3">
      <h3> Sign-In </h3>
    </div>
  </div>
  <form action="" method="POST" class="form col-md-4" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.email, class='form-control', placeholder='Please enter your email address.') }}
    {{ wtf.form_field(form.password, class='form-control', placeholder='Please enter your password.') }}
    <button type=submit class="btn btn-primary btn-block">Login</button>
  </form>
 <!-- <div class="row py-3 px-3">
    <div class="col-md-4">
      <a href="{{ url_for('google.login') }}" class="btn btn-primary btn-labeled">
        <span class="btn-label">
          <i class="fab fa-google"></i>
        </span>
        Sign In/Up with Google
      </a>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-md-4">
      <a href="{{ url_for('orcid.login') }}" class="btn btn-success btn-labeled">
        <span class="btn-label">
          <i class="ai ai-orcid"></i>
        </span>
        Sign In/Up with ORCID
      </a>
    </div>
  </div>-->
{% endblock %}

