{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
    {{title}} - NRC Spreadsheet Conversion Package
  {% else %}
    {{ _('Welcome to the NRC Spreadsheet Converstion Package')}}
  {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>
<script src="https://kit.fontawesome.com/9cb7622861.js"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static',filename='css/academicons.min.css') }}" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}" type="text/css"/>
<script>

$(function() {
    $(".invalid-feedback").show();
    $('.mdb-select').multiselect();
});

</script>

 <script>
    function set_task_progress(task_id, progress) {
        $('#' + task_id + '-progress').text(progress);
    }
 </script>


 <script>
    {% if current_user.is_authenticated %}
    $(function() {
        var since = 0;
        setInterval(function() {
            $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                function(notifications) {
                    for (var i = 0; i < notifications.length; i++) {
                        switch (notifications[i].name) {
                          case 'unread_message_count':
                              set_message_count(notifications[i].data);
                              break;
                          case 'task_progress':
                              console.log("setting task progress " + notifications[i].data.progress);
                              if(notifications[i].data.progress == "Error"){
                                set_task_progress(
                                  notifications[i].data.task_id,
                                  "There was an Error, please retry deployment or contact developers.");
                              }
                              else if(notifications[i].data.progress == 100){
                                set_task_progress(
                                    notifications[i].data.task_id,
                                    "Completed");
                              }
                              else{
                                console.log("HERE");
                                set_task_progress(
                                    notifications[i].data.task_id,
                                    notifications[i].data.progress + "%");
                              }
                              break;
                        }
                        since = notifications[i].timestamp;
                    }
                }
            );
        }, 1000);
    });
  </script>
    {% endif %}
{% endblock %}


{% block navbar %}
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">NRC Map</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsableNavbar" aria-expanded="false" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsableNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
         </li>
        {% if not current_user.is_anonymous %}
          {% if current_user.has_role('admin') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.user_admin_page') }}">Admin</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('excel.display_excel_files') }}">Files</a>
          </li>
        {% endif %}
       </ul>
       <ul class="navbar-nav">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link"href="{{ url_for('user.login') }}">
              Login
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link"href="{{ url_for('auth.user_profile_page', user_id=current_user.id) }}">
              Edit Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="{{ url_for('user.logout') }}">
              Logout
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
    <div class="container ml-0">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
              <div class="alert alert-success" role="alert">
                {{ task.description }}
                <span id="{{ task.id }}-progress"></span>
                {% if not task.complete %}
                  {% if task.get_progress() %}
                    {% if task.get_progress() == "Error" %}
                      {{ '' if not task.signal_completed() }}
                    {% elif task.get_progress() == 100 %}
                        {{ '' if not task.signal_completed() }}
                    {% else %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
